@import "../../styles/variables";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --pink1: #ff4b2b;
  --pink2: #ff416c;
}

.container {
  overflow: hidden;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    var(--pink1),
    var(--pink2)
  );
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  text-align: center;
  position: relative;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  font-size: 1.2rem;
}
h1 {
  font-size: 8rem;
  margin: 0 0 1.2rem;
  @include lg {
    font-size: 5em;
  }
  @include md {
    font-size: 4em;
  }
  @include sm {
    font-size: 2em;
  }
}
a {
  color: #ffc83d;
  text-decoration: none;
}
